@import url(index.css);
/*從這之後開始 前面不要動到！*/
.us-background {
     background-image: url('../image/us-background.png');
     background-attachment: fixed;
     width: 1899px;
     height: 761px;
}
.container{
    columns: 4;
    column-rule: gray solid 1px;
    text-align: center;
    column-fill: balance;
}
.subsection {
    padding: 30px;
    -webkit-column-break-before: always;
    color: #0f4c5c;
}

img{
    height: 75%;
    width: 75%;
}
.header{
    text-align: center;
    column-span: all;
}

.position{
    position: relative;
    text-align: center;
    word-break: break-all;
}